.about-us-section {
    padding: 148px 160px;
    padding-bottom: 120px;
    display: flex;
    justify-content: flex-start;        
}

.about-us-section .content {
    margin-left: 120px;
    width: 40%;
}

.about-us-section .content h2 {
    color: #072C4B;
    position: relative;
}

.about-us-section .content h2::before {
    content: '';
    height: 4px;
    width: 48px;
    background-color: #2B70A9;
    position: absolute;
    bottom: -24px;
}

.about-us-section .content p {
    padding-top: 24px;
    color: #475C6E;  
}

.about-us-section .content button {
    border: 2px solid #2B70A9;
    color: #2B70A9;
    background: rgba(43, 112, 169, 0.2);
    margin-top: 24px;
    transition: 0.1s linear all;
}

.about-us-section .content button:hover {
    cursor: pointer;
    background: rgba(43, 112, 169, 0.1);
}