.our-expertise-section {
    background-image: url(image/our-expertise-background.png);
    background-position: 50% 50%;
    padding: 110px 160px;
}

.our-expertise-section h2 {
    margin-top: 0;
    position: relative;
    color: #072C4B;
}

.our-expertise-section h2::before {
    content: '';
    height: 4px;
    width: 48px;
    background-color: #2B70A9;
    position: absolute;
    bottom: -24px;
}

.our-expertise-section p {
    width: 450px;
    margin-top: 0px;
    padding-top: 24px;
    color: #475C6E;
}

.our-expertise-section .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 64px;
}

.our-expertise-section .cards div {
    width: 350px;
    height: 240px;
    background-color: #ffffff;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.25);
    margin-bottom: 32px;
    padding: 48px 32px;
    padding-right: 40px;
    border-bottom: 4px solid #2B70A9;
}

.our-expertise-section .cards h3 {
    margin: 0;
    color: #072C4B;
}

.our-expertise-section .cards p {
    width: 100%;
    padding-top: 8px;
    color: #475C6E;
}